.custom-status {
	text-align: center;
	label {
		margin-right: 5px;
		border-radius: 10px;
		padding: 0 5px;
		span {
			margin-left: 3px;
		}
	}
}
.contacts {
	.content {
		&-list {
			width: 350px;
			border-right: 1px solid #ddd;
		}
		&-main {
			width: calc(100% - 350px);
		}
	}
	
	.quick-tab {
		width: 100%;
		margin-top: 10px;
		&__item {
			width: calc(100%/2);
			display: inline-block;
			.btn-group {
				button {
					&:first-child {
						width: calc(100% - 35px);
					}
					&:last-child {
						width: 35px;
					}
				}
				.dropdown-menu {
					width: 95%;
				}
			}
		}
	}
	.tab-content {
		margin-top: 10px;
		border-top: 1px solid #f5f5f5;
		padding: 10px 0!important;
	}
	&-custom {
		max-height: 71vh;
		overflow: auto;
		.item-contact {
			padding: 10px 0;
			cursor: pointer;
			transition: all .3s;
			-webkit-transition: all .3s;
			border-bottom: 1px dashed #f5f5f5;
			position: relative;
			padding-left: 5px;
			&__image {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				float: left;
				.image {
					width: 100%;
					height: 100%;
				}
			}
			&__info {
				width: calc(100% - 50px - 20px);
				float: right;
				h4,p{
					margin-top: 0;
					margin-bottom: 0;
				}
				.info-name {
					font-weight: 600;
				}
				.mail, .add-time {
					margin-top: 3px;
					a {
						color: #3e3e3e;
					}
				}
			}
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background: rgba(0,0,0,.3);
			}
			.custom-status {
				position: absolute;
				top: 50%;
				right: 2px;
				transform: translateY(-50%);
				i {
					color: #0976f0;
					border: 2px solid #fff;
					border-radius: 100%;
					font-size: 7px;
					position: absolute;
					top: 43%;
					transform: translateY(-50%);
				}
				span {
					padding-left: 11px;
				}
			}
		}
		.active {
			background: #ddd;
		}
	}
	.companies-custom {
		.item-company {
			padding: 10px;
			cursor: pointer;
			transition: all .3s;
			-webkit-transition: all .3s;
			border-bottom: 1px dashed #999;
			&__name {
				text-transform: uppercase;
				font-weight: 600;
			}
			&__info {
				h4,p{
					margin-top: 0;
					margin-bottom: 0;
				}
				.text {
					margin-top: 3px;
					i {
						margin-right: 10px;
						color: $color_main;
					}
					.fa-mobile, .fa-map-marker {
						font-size: 20px;
					}
				}
			}
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background: rgba(0,0,0,.3);
			}
		}
	}
	&-content {
		background: #f4f4f4;
		position: relative;
		padding-bottom: 10px;
		overflow: hidden;
		.close-box-contacts {
			position: absolute;
			left: 20px;
			top: 25px;
			cursor: pointer;
			z-index: 9;
			img {
				width: 30px;
				height: 30px;
			}
		}
		&__nav {
			border-bottom: 1px solid #ccc;
			padding-bottom: 20px;
    		background: #fff;
			&-image {
				.image {
					width: 100px;
					margin: auto;
					overflow: hidden;
					img {
						object-fit: cover;
					}
				}
			}
			&-text {
				text-align: center;
				margin-top: 10px;
			}
			&-action {
				.action-content {
					width: 220px;
					margin: auto;
					.action-item {
						width: 100px;
						float: left;
						button {
							width: 100%;
							font-weight: 600;
							i {
								margin-right: 5px;
								font-weight: 200;
							}
						}
						&:last-child {
							margin-left: 20px;
						}
					}
				}
			}
		}
		&__head {
			border-bottom: 1px solid #ccc;
			padding-bottom: 20px;
    		padding-top: 30px;
    		background: #fff;
			.head-top {
				&__chose {
					text-align: center;
				}
			}
			.head-info {
				text-align: center;
				&__name {
					font-size: 20px;
					font-weight: 600;
				}
				p {
					margin: 5px 0;
				}
			}
			.head-action {
				text-align: center;
				ul {
					padding-left: 0;
					ol {
						display: inline-block;
						padding-left: 5px;
						button {
						    transition: all .3s;
						    -webkit-transition: all .3s;
						    &:hover {
						    	background: #586b7f!important;
						    }
						}
						i {
							margin-right: 5px;
						}
					}
				}
			}
			.head-action2 {
				&__content {
					text-align: center;
					.item {
					    cursor: pointer;
					}
				}
			}
		}
		&__detail {
			width: 600px;
			margin: auto;
			background: #fff;
			max-height: 480px;
    		overflow: auto;
    		padding: 10px;
    		margin-top: 20px;
    		&-title {
    			position: relative;
    			margin-bottom: 20px;
    			.title-name {
    				font-size: 16px;
    				font-weight: 600;
    			}
    			.title-chose {
    				border-radius: 10px;
    				border: 1px solid #ddd;
    				position: absolute;
    				top: 50%;
    				transform: translateY(-50%);
    				right: 20px;
    				overflow: hidden;
    				&__item {
    					width: 25px;
    					float: left;
    					padding:3px;
    					cursor: pointer;
    					img {
    						display: unset;
    					}
    					&:first-child {
    						transform: rotate(90deg);
    					}
    					&:last-child {
    						border-left: 1px solid #ddd;
    					}
    					&:hover {
    						background: #ddd;
    					}
    				}
    				.active {
    					background: #ddd;
    				}
    			}
    		}
			.timeline {
				.timeline-body, .timeline-footer {
					display: none;
					overflow: hidden;
					img {
						width: 150px;
						height: 75px;
						object-fit: contain;
					}
				}
			}
		}
	}
}
.box-hidden {
	display: none;
}
